*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100%;
    height: 84px;
    background-color: #0063a0;
}
.header__nav{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
.header__link{
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    margin-left: 20px;
}

.main{
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    padding: 45px 0;
    background-color: #f5fdfc;
    display: flex;
    justify-content: center;
    background-image: url('vaccine.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main--two{
    flex-direction: column;
    padding: 45px;
    background-image: url('vaccines.jpg');
}
.table{
    width: 80%;

}
.title{
    color: white;
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, .8);
}
.title-two{
    align-self: center;
}
.table__row{
    height: 40px;
}
.table__row:nth-of-type(2n+2){
    background-color: rgba(238, 227, 227, 0.267);
}
.table__header{
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px rgba(0, 0, 0, .8);
}
.table__detail{
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px rgba(0, 0, 0, .8);
    text-align: center;
}

.subtitle{
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, .8);
    font-size: 1.6rem;
    margin: 30px 0 10px;
}

.subtitle-two{
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, .8);
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 20px;
}

.label{
    font-size: 1.4rem;
    font-weight: 600;
    color: #0063a0;
    text-shadow: 1px 1px rgba(248, 244, 244, 0.8);
}

.container{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.textfield{
    margin: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    padding: 3px 5px;
    border-radius: 5px;
    border: none;
}

.button-special{
    margin: 0 10px;
}

.button{
    background-color: #0063a0;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    cursor: pointer;
}